.Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
}

.BoardSection {
    width: 21vw;
    height: 82vh;
    background-color: #EEF2F5;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.PointerEvent{
    opacity: 0.3;
    pointer-events: none;
}

.CardContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: calc(100% - 50px);
    padding: 10px; 
    overflow-y: auto;
    flex-grow: 1;
}

.CardContainer::-webkit-scrollbar {
    width: 10px;
}

.CardContainer::-webkit-scrollbar-track {
    background: #EEF2F5;
}

.CardContainer::-webkit-scrollbar-thumb {
    background: #e0dede;
    border-radius: 8px;
}

.CardContainer::-webkit-scrollbar-thumb:hover {
    background: #e0dede;
}

.CardComponent {
    width: 100%;
    margin-bottom: 10px; /* Ensure some space between cards */
}

/* ====================Container================== */

/* .Container::-webkit-scrollbar {
    width: 10px;
}

.Container::-webkit-scrollbar-track {
    background: #fff;
}

.Container::-webkit-scrollbar-thumb {
    background: #e0dede;
    border-radius: 8px;    
}

.Container::-webkit-scrollbar-thumb:hover {
    background: #555;
} */


